{% from 'macros.html.jinja' import header, overview, services_monitor, details %}

<!DOCTYPE html>
<html lang="zh-CN">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/default/res/css/index.css" />
  {% for css in config.ps_default_additional_css -%}
  <link rel="stylesheet" href="{{ css }}" />{% endfor %}
</head>

<body>
  <div class="main-background">
    <div class="main-background-mask">
      <div class="dashboard-shell">
        {{ header(d) }}
        {{ overview(d) }}
        {{ services_monitor(d) }}
        {{ details(d) }}
      </div>
    </div>
  </div>
</body>

<script src="/js/init-global.js"></script>
<script src="/js/lazy-load.js"></script>
{% for script in config.ps_default_additional_script -%}
<script src="{{ script }}"></script>{% endfor %}
<script src="/js/load-plugin.js"></script>

</html>
